<md-nav-bar md-selected-nav-item="vm.currentNavItem">
  <md-nav-item md-nav-href="#tvShows" name="tvShowsNav">Add a Tv Show</md-nav-item>
  <md-nav-item md-nav-href="#myTvShows" name="myTvShowsNav">
    My Tv Shows
    <span class="label label-info">{{ vm.myTvShows.length }}</span>
    </md-nav-item>
</md-nav-bar>

<div layout="horizontal" layout-wrap>
  <div ng-repeat="tvShow in vm.myTvShows">
    <md-card>
      <img class="md-card-image" src="https://image.tmdb.org/t/p/w500/{{ tvShow.poster_path }}" style="width: 10em; margin: 0 auto;" />
    </md-card>
  </div>
</div>